html,
body {
  background-image: url(coinblack.jpeg);
  background-attachment: fixed;
  /* background-position: center; */
  background-repeat: no-repeat;
  background-size: cover;
}

#titleDiv {
  text-align: center;
  color: gold;
}

#headerDiv {
  position: sticky;
  box-shadow: 6px 6px 5px rgba(3, 4, 8, 0.527);
  background-color: rgba(9, 16, 110, 0.7);
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 0;
  z-index: 2;
  margin: 2px;
}
.searchDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.3%;
}
nav {
  margin: 0.3%;
}
.navBtn {
  margin-left: 15px;
}

#coinsCard {
  color: #8396e9c7;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(186px, 1fr));
}
.cardContainer {
  padding: 1%;
}

.card {
  width: 150px;
  min-height: 240px;
  background-color: rgba(18, 45, 136, 0.685);
  border-radius: 20px;
  box-shadow: rgba(56, 85, 214, 0.466) 6px 6px 5px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1%;
}

.cardThrobber {
  width: 30%;
}
.card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#aboutDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#liveReportDiv {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#liveReportDiv {
  background-color: azure;
  color: red;
}

/* .toggleInput {
  font-size: 20%;
} */
.toggle.ios,
.toggle-on.ios,
.toggle-off.ios {
  border-radius: 20rem;
}
.toggle.ios .toggle-handle {
  border-radius: 20rem;
}

.custom-switch {
  width: 100%;
  padding: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.toggle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1px;
}

.toggle-off {
  font-size: 15px;
}
.toggle-on {
  font-size: 15px;
}

/* modal */
.modal-content {
  background-color: rgb(207, 224, 184);
  background-image: url(coins.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.modal-header {
  justify-content: center;
  background-color: rgba(241, 239, 210, 0.8);
}

.modalRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(250, 249, 240, 0.8);
}

.selector-for-some-widget {
  box-sizing: content-box;
}

/* About */

#aboutDiv {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
}

h1 {
  color: #ffffff;
}

.about-section {
  background: url(coins5.jpeg) no-repeat left;
  background-size: 55%;
  background-color: #000000;
  overflow: hidden;
  padding: 100px 0;
}

.inner-container {
  width: 55%;
  float: right;
  background-color: #000000;
  padding: 150px;
}

.inner-container h1 {
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 900;
}

.text {
  font-size: 13px;
  color: #ececec;
  line-height: 30px;
  text-align: justify;
  margin-bottom: 40px;
}

#mainText {
  color: rgb(231, 135, 71);
  border: 1px solid;
  border-color: rgb(248, 158, 84);
  margin: 1px;
  padding: 5px;
}

#infoDiv {
  color: rgb(63, 162, 219);
  border: 1px solid;
  border-color: rgb(81, 151, 216);
  margin: 1px;
  padding: 5px;
}

#detailsDiv {
  color: rgb(153, 99, 224);
  border: 1px solid;
  border-color: rgb(154, 105, 218);
  margin: 1px;
  padding: 5px;
}

#containerImage {
  display: inline-block;

  width: 150px;
}

.skills {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
  font-size: 13px;
}

@media screen and (max-width: 1200px) {
  .inner-container {
    padding: 80px;
  }
}

@media screen and (max-width: 1000px) {
  .about-section {
    background-size: 100%;
    padding: 100px 40px;
  }
  .inner-container {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .about-section {
    padding: 0;
  }
  .inner-container {
    padding: 60px;
  }
}
